# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Editors & OS
.DS_Store
Thumbs.db
*.swp
*~
.idea/
.vscode/

# Python environments
.venv/
venv/
env/

# Python / test caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Odoo
*.log
filestore/
sessions/
*.sqlite3
*.db
web.assets*
__manifest__.pyc
